{% set accomplishmentsList = collections.myAccomplishments %}
<h2>{{headers.accomplishments}}</h2>
<ul reversed class="cardContainer accomplishment" style="counter-reset: start-from {{ accomplishmentsList.length + 1 }}">
{% for accomplishment in accomplishmentsList | reverse %}
  {% set currentAccomplishment = accomplishment.data.accomplishment %}
  <li class="card accomplishmentlist-item">
    <div class="card-topRow">
      <div class="card-logoContainer">
        <img src="{{ currentAccomplishment.iconUrl}}" class="card-logo"/>
      </div>
      <div class="card-titleContainer">
        <h3>{{currentAccomplishment.institution}}</h3>
        <h4 class="card-subTitle">{{currentAccomplishment.engagement[lang]}}</h4>
        <h5 class="card-date">{{currentAccomplishment.startText}} - {{currentAccomplishment.endText}}</h5>
      </div>
    </div>
    <p class="card-description">{{currentAccomplishment.description[lang]}}</p>
  </li> 
{% endfor %}
</ul>