{% set accomplishmentsList = collections.myAccomplishments %}
<div class="accomplishment-container">
<h2>{{headers.accomplishments}}</h2>
<ul reversed class="listContainer accomplishment" style="counter-reset: start-from {{ accomplishmentsList.length + 1 }}">
{% for accomplishment in accomplishmentsList | reverse %}
  {% set currentAccomplishment = accomplishment.data.accomplishment %}
  <li class="list-item accomplishmentlist-item two-columns-container">
    <div class="list-imgContainer">
      <img src="{{ currentAccomplishment.iconUrl}}" class="list-icon"/>
    </div>
    <div class="list-contentContainer">
      <h4 class="list-title inline">{{currentAccomplishment.engagement[lang]}},</h4>
      <h4 class="card-subTitle inline">{{currentAccomplishment.institution}}{% if currentAccomplishment.dateText[lang]%},</h4>
      <h4 class="card-date inline">{{currentAccomplishment.dateText[lang]}}{% endif %}</h4>
      <p class="list-description">{{currentAccomplishment.description[lang]}}</p>
    </div>
  </li> 
{% endfor %}
</ul>
</div>