<div class="topRow">
    <img src={{contactInfo.pictureUrl}} alt="David Gulaker" class="topRow-profilePicture"/>
    <div class="topRow-textBlock">
        <h1>David Gulaker</h1>
        <p class="topRow-description">{{contactInfo.description.english}}</p>
        <div class="topRow-contact">
        {% for contact in contactInfo.contact %}
                <img src={{contact.iconUrl}} class="socialIcon" alt={{contact.altText.english}} />
                <span class="topRow-contact-info">{{contact.info.english}}</span>
        {% endfor %}
        </div>
        <div class="topRow-socialContact">
        {% for socialContact in contactInfo.social %}
                <a href={{socialContact.hyperLink}}>
                    <img src={{socialContact.iconUrl}} class="socialIcon" alt={{socialContact.altText.english}} />
                    <span class="topRow-socialContact-username">{{socialContact.username}}</span>
                </a>
        {% endfor %}
        </div>
    </div>
</div>