<div class="topRow">
    <img src={{contactInfo.pictureUrl}} alt="David Gulaker" class="topRow-profilePicture"/>
    <div class="topRow-textBlock">
        <h1>David Gulaker</h1>
        <p class="topRow-description">{{contactInfo.description[lang]}}</p>
        <div class="topRow-contact">
        {% for contact in contactInfo.contact %}
                <img src="{{contact.iconUrl}}" class="socialIcon" alt="{{contact.altText[lang]}}" />
                <span class="topRow-contact-info">{{contact.info[lang]}}</span>
        {% endfor %}
        </div>
        <div class="topRow-socialContact">
        {% for socialContact in contactInfo.social %}
                <a href="{{socialContact.hyperlink}}">
                    <img src="{{socialContact.iconUrl}}" class="socialIcon" alt="{{socialContact.altText[lang]}}" />
                    <span class="topRow-socialContact-username">{{socialContact.username}}</span>
                </a>
        {% endfor %}
        </div>
    </div>
</div>