{% set educationsList = collections.myEducations %}
<h2>{{headers.education}}</h2>
<ul reversed class="cardContainer education" style="counter-reset: start-from {{ educationsList.length + 1 }}">
{% for education in educationsList | reverse %}
  {% set currentEducation = education.data.education %}
  <li class="card educationlist-item">
    <div class="card-topRow">
      <div class="card-logoContainer">
        <img src="{{currentEducation.logoUrl}}" class="card-logo"/>
      </div>
      <div class="card-titleContainer">
        <h3>{{currentEducation.study[lang]}}</h3>
        <h4 class="card-subTitle">{{currentEducation.school}}</h4>
        <h5 class="card-date">{{currentEducation.dateText[lang]}}</h4>
      </div>
    </div>
    <p class="card-description">{{currentEducation.description[lang]}}</p>
  </li> 
{% endfor %}
</ul>