{% set otherExperiencesList = collections.myOtherExperiences %}
<div class="column-container">
<h2>{{headers.otherExperience}}</h2>
<ul reversed class="listContainer otherExperience" style="counter-reset: start-from {{ otherExperiencesList.length + 1 }}">
{% for otherExperience in otherExperiencesList | reverse %}
  {% set currentOtherExperience = otherExperience.data.otherExperience %}
  <li class="list-item otherExperiencelist-item two-columns-container">
    <div class="list-imgContainer">
      <img src="{{ currentOtherExperience.logoUrl}}" class="list-logo"/>
    </div>
    <div class="list-contentContainer">
      <h4 class="list-title inline">{{currentOtherExperience.jobTitle[lang]}},</h4>
      <h4 class="card-subTitle inline">{{currentOtherExperience.company}}</h4>
      <h4 class="card-date">{{currentOtherExperience.dateText[lang]}}</h4>
      <p class="list-description">{{currentOtherExperience.description[lang]}}</p>
    </div>
  </li> 
{% endfor %}
</ul>
</div>