{% set workExperiencesList = collections.myWorkExperiences %}
<h2>Work experience</h2>
<ul reversed class="cardContainer workExperience" style="counter-reset: start-from {{ workExperiencesList.length + 1 }}">
{% for workExperience in workExperiencesList | reverse %}
  {% set currentWorkExperience = workExperience.data.workExperience %}
  <li class="card workExperiencelist-item">
    <div class="card-topRow">
      <div class="card-logoContainer">
        <img src={{ currentWorkExperience.logoUrl}} class="card-logo"/>
      </div>
      <div class="card-titleContainer">
        <h3>{{currentWorkExperience.company}}</h3>
        <h4 class="card-subTitle">{{currentWorkExperience.jobTitle.english}}</h4>
        <h5 class="card-date">{{currentWorkExperience.startText}} - {{currentWorkExperience.endText}}</h5>
      </div>
    </div>
    <p class="card-description">{{currentWorkExperience.description.english}}</p>
  </li> 
{% endfor %}
</ul>