---
layout: base.njk
templateClass: tmpl-cv
---
{% include "blocks/contactInfo.njk" %}
{% include "blocks/educationList.njk" %}
{% include "blocks/workExperienceList.njk" %}
{% include "blocks/otherExperienceList.njk" %}
{% include "blocks/accomplishment.njk" %}

{{ content | safe }}
